<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="author" content="{{site.author_name}}">
  <meta name="description" content="{{site.description}}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:type" content="blog" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}" />
  <meta property="og:image" content="{{ site.baseurl }}{% if page.title %}{{ page.banner }}{% else %}{{ site.banner }}{% endif %}" />

  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css">
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
</head>