<header>
    <div class="logo">
      <a href="{{site.url}}"><img src="{{site.baseurl}}/assets/images/logo.png" title="{{site.title}}" alt="{{site.title}}"/></a>
    </div><!-- end logo -->

    <div id="menu_icon"></div>
    <nav>
      <ul>
        <li><a href="{{site.url}}">Home</a></li>
        <li><a href="{{site.baseurl}}/biography.html">Biography</a></li>
        <li><a href="{{site.baseurl}}/presskit.html">Press Kit</a></li>
        <li><a href="{{site.baseurl}}/contribution.html">Contribution</a></li>
        <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
      </ul>
    </nav><!-- end navigation menu -->

    <div class="footer clearfix">
      <ul class="social clearfix">
        <li><a href="{{site.facebook_url}}" class="fb" data-title="Facebook"></a></li>
        <li><a href="{{site.twitter_url}}" class="twitter" data-title="Twitter"></a></li>
        <li><a href="{{site.dribbble_url}}" class="dribble" data-title="Dribble"></a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="rss" data-title="RSS"></a></li>
      </ul><!-- end social -->

      <div class="rights">
        <p>Copyright © 2016 Miki Ishijima.</p>
      </div><!-- end rights -->
    </div ><!-- end footer -->
  </header><!-- end header -->