<header>
    <div class="logo">
      <img src="{{site.baseurl}}/assets/images/icons/favicon-transparent.svg" alt="">
      <h1>Miki Ishijima</h1>
    </div><!-- end logo -->

    <div id="menu_icon"></div>
    <nav>
      <ul>
        <li><a href="http://mikiishijima.com/blog/">Blog</a></li>
        <li><a href="{{site.baseurl}}/biography/">Biography</a></li>
        <li><a href="{{site.baseurl}}/presskit/">Press Kit</a></li>
        <li><a href="{{site.baseurl}}/contribution/">Contribution</a></li>
        <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
      </ul>
    </nav><!-- end navigation menu -->

    <div class="footer clearfix">
      <ul class="social clearfix">
        <li><a href="{{site.facebook_url}}" class="fb" data-title="Facebook"></a></li>
        <li><a href="{{site.twitter_url}}" class="twitter" data-title="Twitter"></a></li>
        <li><a href="{{site.dribbble_url}}" class="dribble" data-title="Dribble"></a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="rss" data-title="RSS"></a></li>
      </ul><!-- end social -->

      <div class="rights">
        <p>Copyright © 2016 Miki Ishijima.</p>
      </div><!-- end rights -->
    </div ><!-- end footer -->
  </header><!-- end header -->
