header ul.social li a,
header nav,
.main .work a .caption{
    transition:all .5s linear;
    -webkit-transition:all .5s linear;
    -moz-transition:all .5s linear;
    -o-transition:all .5s linear;
}

@-webkit-keyframes fadein {
  from { opacity:0;}
  to   { opacity:1;}
}
@-moz-keyframes fadein {
  from { opacity:0;}
  to   { opacity:1;}
}
@keyframes fadein {
  from { opacity:0;}
  to   { opacity:1;}
}

@-webkit-keyframes slidein {
  from { opacity:0; -webkit-transform: translateY(-100px);}
  to   { opacity:1; -webkit-transform: translateY(0px);}
}
@-moz-keyframes slidein {
  from { opacity:0; -webkit-transform: translateY(-100px);}
  to   { opacity:1; -webkit-transform: translateY(0px);}
}
@keyframes slidein {
  from { opacity:0; -webkit-transform: translateY(-100px);}
  to   { opacity:1; -webkit-transform: translateY(0px);}
}