a{
	color: $brand-color;
}

.bg{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: .1;
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (min-width: 1024px) {
		opacity: 1;
		background-position: right top;
	}
}

.goto-top{
	position: fixed;
	bottom: 30px;
	right: 10px;
	z-index: 999;
	height: 66px;
	text-align: right;
	@media screen and (min-width: 768px) {
		top: 30px;
		right: 30px;
	}
}

nav.list{
	padding: 30px;
	font-size: 1.2em;
	line-height: 1.4;
	@media screen and (min-width: 1024px) {
		position: fixed;
    top: 120px;
    left: 100px;
	}
}

.content{
	margin: 0 auto 60px;
	padding: 30px;
	color: $text-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	border-bottom: 1px solid rgba(#fff, .1);

	@media screen and (min-width: 1024px) {
		position: absolute;
		width: 50%;
		right: 5%;
		border: none;

		&.dark{
			color: $grey-color-dark;
			h1{text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);}
		}

		&.light{
			color: $grey-color-light;
			h1{text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);}
		}
	}

	h1,h2,h3,h4,h5,h6{
		font-family: $heading-font-family;
	}
	h1{
		font-size: 60px;
		font-weight: 700;
		line-height: 86px;
	}
	h2{font-size: 1.8em;}
	h3{
		margin: 60px 0 10px;
		font-size: 1.6em;
		font-weight: 100;
	}
	p{margin: 10px 0 30px}
	small{font-size: $small-font-size;}
	ul{
		li{list-style-position: inside}
	}
	hr{opacity: .1;}

	&.single{
		z-index: 997;
		position: absolute;
		top: 50px;
		right: 10%;
		max-width: 760px;
	}

	&.thumbnail{
		position: static;
		width: 80%;
		max-width: 80%;
	}
}
