$text-color: #555;

html{
  font-size: 18px;
  font-family: "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Arial, メイリオ, Meiryo, sans-serif;
}

.box{
  @media screen and (min-width : 641px){
    width: 60%;
  }
  margin: 30px auto;
  color: $text-color;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6rem;
  background-color: #fff;
  h1,h2,h3,h4,h5,h6{
    color: darken($text-color, 20%);
    margin-top: 2rem;
    font-weight: 700;
    font-feature-settings : "palt";
    line-height: 2.3rem;
  }
  h1{font-size: 2rem;}
  h2{font-size: 1.8rem; margin-top: 6rem}
  h3{font-size: 1.4rem;}
  h4{font-size: 1.2rem;}
  h5{font-size: 1.1rem;}
  h6{font-size: 1rem;}
  img{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #efefef;
  }
  b{color: rgb(175, 21, 21);}
  ul,ol{
    list-style-position: inside;
    padding-left: 0;
    ul,ol{
      padding-left: 1rem;
    }
  }
}

.list-heading{
  padding: 16px;
  color: #787c7b;
  font-size: .8rem;
  line-height: 1.2rem;
  background: #f7f9f9;
  a{
    color: inherit;
    &:hover{
      color: $text-color;
    }
  }
  h2{
    color: inherit;
    margin: 0;
    font-size: 1rem;
    &:before{
      content: "▼ ";
      font-size: .8rem;
    }
  }
  ul,ol{
    margin-bottom: 0;
    list-style-type: none;
    li{
      padding: 8px 0;
      border-top: 1px solid #e6e6e6;
      &:first-child{border-top: none;}
    }
    ul,ol{
      margin-bottom: .5rem;
      list-style-type: decimal;
      li{
        border-top: none;
        line-height: .6rem;
      }
    }
  }
}

.float{
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.gototop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 6px 12px;
  background: #f7f9f9;
  a{
    color: $text-color;
    &:before{content: "▲ ";}
  }
}

.tab-content{
  border: 1px solid #dee2e6;
  border-top: none;
  padding: 32px 18px;
  h3{margin-top: 0}
}
