@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

img {
  max-width: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #454545; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*  Fonts  */
@font-face {
  font-family: 'raleway-regular';
  src: url("../fonts/raleway-regular.eot");
  src: url("../fonts/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular.woff") format("woff"), url("../fonts/raleway-regular.ttf") format("truetype"), url("../fonts/raleway-regular.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway-bold';
  src: url("../fonts/raleway-bold.eot");
  src: url("../fonts/raleway-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold.woff") format("woff"), url("../fonts/raleway-bold.ttf") format("truetype"), url("../fonts/raleway-bold.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway-semibold';
  src: url("../fonts/raleway-semibold.eot");
  src: url("../fonts/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-semibold.woff") format("woff"), url("../fonts/raleway-semibold.ttf") format("truetype"), url("../fonts/raleway-semibold.svg#ralewaysemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

header ul.social li a,
header nav,
.main .work a .caption {
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slidein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px); } }

@-moz-keyframes slidein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px); } }

@keyframes slidein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px); } }

body {
  background: #eee;
  color: #222; }

a {
  color: #e9577a;
  font-weight: 600;
  text-decoration: none; }
  a:hover {
    color: #ef849e; }
  a img:hover {
    opacity: .8; }

h1, h2, h3, h4, h5, h6 {
  font-family: "raleway-regular", arial;
  letter-spacing: 1px; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .75em 0; }

h3 {
  font-size: 1.17em;
  margin: .83em 0; }

h4 {
  margin: 1em 0; }

h5 {
  font-size: .83em;
  margin: 1.5em 0; }

h6 {
  font-size: .75em;
  margin: 1.67em 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.button {
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  z-index: 9999; }

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.grid .inner {
  overflow: hidden;
  position: relative;
  float: left;
  margin: -1px 0;
  padding: 0; }
  .grid .inner a img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: .8; }
  .grid .inner .desc h2 {
    font-size: 32px;
    font-family: "Open Sans", Lato, 游ゴシック体, "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif; }
  .grid .inner .desc p {
    font-family: "Open Sans", Lato, 游ゴシック体, "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
    font-weight: normal;
    line-height: 1.4; }

@media (min-width: 400px) and (max-width: 768px) {
  .inner .desc {
    padding: 10px 10px 30px; }
    .inner .desc h2:before {
      content: "\f0d8";
      margin-right: 10px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }

@media (min-width: 700px) and (max-width: 768px) {
  .inner {
    width: 100%;
    max-height: 350px;
    overflow: hidden;
    background: rgba(233, 87, 122, 0.8) !important; }
    .inner a {
      display: block;
      width: 100%; }
      .inner a img {
        width: 50%;
        float: left;
        opacity: 0.2 !important; }
      .inner a:hover img {
        opacity: 1 !important; }
    .inner:nth-child(odd) a {
      background: rgba(0, 0, 0, 0.8); }
    .inner .desc {
      width: 39%;
      float: left;
      opacity: 1;
      padding: 5%;
      color: #FFF; }
      .inner .desc h2 {
        margin-top: 10px;
        color: #FFF; }
      .inner .desc p {
        width: 100%; } }

@media (min-width: 769px) {
  .inner {
    width: 33.333333333%; }
  .desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    opacity: 0;
    padding: 10%;
    color: black;
    background: #e9577a; }
    .desc:hover {
      transition: all .2s linear;
      opacity: 1; }
    .desc h2 {
      color: black; }
    .desc p {
      width: 100%;
      margin: 20px auto 0;
      font-size: 16px; }
    .desc a {
      color: white; }
    .desc a img {
      opacity: .4 !important; }
  a:hover .desc {
    transition: all .5s linear;
    opacity: 1; } }

a {
  color: #e9577a; }

.bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: .1;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (min-width: 1024px) {
    .bg {
      opacity: 1;
      background-position: right top; } }

.goto-top {
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 999;
  height: 66px;
  text-align: right; }
  @media screen and (min-width: 768px) {
    .goto-top {
      top: 30px;
      right: 30px; } }

nav.list {
  padding: 30px;
  font-size: 1.2em;
  line-height: 1.4; }
  @media screen and (min-width: 1024px) {
    nav.list {
      position: fixed;
      top: 120px;
      left: 100px; } }

.content {
  margin: 0 auto 60px;
  padding: 30px;
  color: #222;
  font-family: "Open Sans", Lato, 游ゴシック体, "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  @media screen and (min-width: 1024px) {
    .content {
      position: absolute;
      width: 50%;
      right: 5%;
      border: none; }
      .content.dark {
        color: #424242; }
        .content.dark h1 {
          text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }
      .content.light {
        color: #e8e8e8; }
        .content.light h1 {
          text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8); } }
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: Domine; }
  .content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 86px; }
  .content h2 {
    font-size: 1.8em; }
  .content h3 {
    margin: 60px 0 10px;
    font-size: 1.6em;
    font-weight: 100; }
  .content p {
    margin: 10px 0 30px; }
  .content small {
    font-size: 17.5px; }
  .content ul li {
    list-style-position: inside; }
  .content hr {
    opacity: .1; }
  .content.single {
    z-index: 997;
    position: absolute;
    top: 50px;
    right: 10%;
    max-width: 760px; }
  .content.thumbnail {
    position: static;
    width: 80%;
    max-width: 80%; }

.tooltip {
  display: none; }

.wrapper {
  margin: 0 auto; }

.index {
  background-color: #222;
  /*  Header  */
  /*  Main  */
  /*  Home/portfolio  */
  /*  Responsive code  */ }
  .index header {
    display: flex; }
    .index header .logo {
      margin-top: 80px; }
      .index header .logo img {
        width: 40px; }
      .index header .logo h1 {
        display: inline;
        color: #FFF;
        font-family: "Open Sans", Lato, 游ゴシック体, "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
        position: relative;
        top: -10px; }
    .index header #menu_icon,
    .index header .close_menu {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background: url("../images/men_icons.png") no-repeat; }
    .index header #menu_icon {
      background-position: 0 0; }
    .index header .close_menu {
      background-position: -41px 0 !important; }
  @media (min-width: 1099px) {
    .index header {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      min-height: 100%;
      padding: 0 0 0 50px;
      background: #eee;
      float: left;
      overflow: hidden;
      z-index: 9999; }
      .index header nav ul {
        display: block;
        overflow: hidden;
        margin-top: 30px;
        list-style: none; }
        .index header nav ul li {
          display: block;
          margin-bottom: 10px; }
          .index header nav ul li a {
            font-family: "raleway-regular", arial;
            font-size: 14px;
            text-decoration: none;
            letter-spacing: 1px; }
            .index header nav ul li a:hover, .index header nav ul li a.selected {
              color: #969595; }
      .index header .footer {
        position: absolute;
        bottom: 50px; }
      .index header ul.social {
        list-style: none;
        margin-bottom: 5px; }
        .index header ul.social li {
          display: block;
          float: left;
          position: relative;
          margin: 0 15px 15px 0; }
          .index header ul.social li a {
            display: block;
            width: 30px;
            height: 30px;
            background: url("../images/sm.png") no-repeat;
            background-position: 0 0; }
            .index header ul.social li a:hover {
              background: url("../images/sm_hover.png") no-repeat; }
            .index header ul.social li a.fb, .index header ul.social li a.fb:hover {
              background-position: 0 0; }
            .index header ul.social li a.google, .index header ul.social li a.google:hover {
              background-position: -31px 0; }
            .index header ul.social li a.behance, .index header ul.social li a.behance:hover {
              background-position: -62px 0; }
            .index header ul.social li a.twitter, .index header ul.social li a.tiwtter:hover {
              background-position: -93px 0; }
            .index header ul.social li a.dribble, .index header ul.social li a.dribble:hover {
              background-position: -124px 0; }
            .index header ul.social li a.rss, .index header ul.social li a.rss:hover {
              background-position: -155px 0; }
      .index header .rights p {
        font-family: "raleway-regular", arial;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 18px; }
      .index header .rights a {
        font-family: "raleway-bold", arial;
        font-weight: bold;
        text-decoration: none; }
    .index #menu_icon,
    .index .close_menu {
      display: none; } }
  .index .main {
    width: 100%;
    height: 100%;
    padding-left: 300px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 55;
    clear: both; }
  .index .main .work {
    display: block;
    width: 33.33333333333333%;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden; }
  .index .main .work .media {
    width: 100%;
    vertical-align: middle;
    opacity: .2; }
    @media (min-width: 768px) {
      .index .main .work .media {
        opacity: 1; } }
  .index .main .work .caption {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1; }
    @media (min-width: 768px) {
      .index .main .work .caption {
        opacity: 0;
        background: rgba(233, 87, 122, 0.8); } }
  .index .main .work a:hover .caption {
    opacity: 1; }
  .index .work .caption .work_title {
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -40px; }
  .index .main .work .caption h1 {
    position: relative;
    display: inline-block;
    max-width: 90%;
    padding: 20px 0;
    z-index: 77;
    color: #fff;
    font-family: "raleway-regular", arial;
    font-size: 22px;
    letter-spacing: .5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white; }
    @media (min-width: 768px) {
      .index .main .work .caption h1 {
        border-bottom: 1px solid #f5b1c1;
        border-top: 1px solid #f5b1c1; } }
  @media (max-width: 1099px) {
    .index header {
      display: block;
      width: 100%;
      min-height: 100px;
      padding: 0;
      position: relative; }
      .index header .logo {
        display: inline-block;
        margin: 40px 0 20px 10px;
        max-width: 55%; }
      .index header .footer {
        display: none; }
      .index header #menu_icon,
      .index header .close_menu {
        float: right;
        margin: 40px 10px 0 0; }
    .index nav {
      width: 100%;
      position: absolute;
      left: 0;
      z-index: 9999; }
      .index nav ul {
        list-style: none;
        display: none;
        position: relative; }
        .index nav ul li a {
          display: block;
          width: 100%;
          padding: 30px 0;
          text-align: center;
          font-family: "raleway-regular", arial;
          font-size: 14px;
          text-decoration: none;
          border-top: 1px solid white;
          background: #eee; }
          .index nav ul li a:active {
            background: #f7f5f5; }
    .index #menu_icon,
    .index .close_menu,
    .index .show_menu {
      display: block; }
    .index .show_menu {
      display: block; }
    .index .main .work {
      width: 50%; }
    .index .main {
      width: 100%;
      position: relative;
      padding-left: 0; } }
  @media (max-width: 550px) {
    .index .main .work {
      width: 100%; } }
