---
layout: default
---

<div class="grid">
{% for post in site.categories[page.category] %}
   <div class="inner">
      <div class="clearfix">
         <img src="{{base.url}}/assets/images/{{post.category}}/thumbnail/{{ post.banner }}" alt="">
         <div class="desc">
            <h2>{{ post.title }}</h2>
            {{ post.excerpt }}
            {% if post.works_url != blank %}<p><a href="{{ post.works_url }}">{{ post.works_url }}</a></p>{% endif %}
         </div>
      </div>
   </div>
{% endfor %}
</div>
