---
layout: default
---

<div class="bg" style="background-image:url('{{site.baseurl}}/assets/images/{{page.background}}');"></div>

<div class="content {{page.color}}">
	<h1>{{page.title}}</h1>
	{{content}}
</div>

<nav class="around-page">
	<a href="../">&lt;<span>Prev</span></a>
</nav>
<nav class="around-page">
	<a href="#"><span>Next</span>&gt;</a>
</nav>

<nav class="goto-top">
	<a href="{{site.url}}"><span class="fa-stack fa-2x">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-angle-up fa-stack-1x fa-inverse"></i>
		</span></a>
</nav>